{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Evenement</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.pays }}</td>
                <td>{{ categorie.evenement }}</td>
                <td>{{ categorie.duree ? categorie.duree|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
