
{% extends 'base.html.twig'%}
{# <title>Voyage index</title> #}

{% block body %}
    <h1>Voyage index</h1>

{% for message in app.flashes('success') %}
        <div class="bg-success my-3">
            <h4>{{ message | join('. <br>') }}</h4>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="bg-danger my-3">
            <h4>{{ message | join('. <br>') }}</h4>
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateDepart</th>
                <th>DateRetour</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.nom }}</td>
                <td>{{ voyage.dateDepart ? voyage.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.dateRetour ? voyage.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.description }}</td>
                <td>
                    <a class="btn btn-primary"  href="{{ path('app_voyage_show', {'id': voyage.id}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_voyage_new') }}">Create new</a>
{% endblock %}
